*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.barra{
    background-color: rgb(255, 123, 0);
    min-height: 50%;
    
}

.logo{
    height: 30px;
}

.scritte-barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    border: 1px solid black;
}

.abs{
    display: inline-block;
    position: relative;
    margin-top: 25px;
}

.foto{
    width: 95%;
    position: relative;
}

.cuore{
    position: absolute;
    right: 17px;
    top: 0;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    font-size: 35px;
}

.sconto{
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-bottom: 20px;
}

.percent{
    background-color: rgb(250, 76, 53);
    text-align: center;
    padding: 5px;
    width: 60%;
    color: white;
}

.sostenibilità{
    background-color: green;
    padding: 5px;
    color: white;
    margin-left: 5px;
}

input[type="checkbox"]:checked +label{
    color: red;
  }

  input[type="checkbox"]{
    display: none;
  }

.flex-f{
    display: flex;
    justify-content: space-between;
}




/*  
   */